/* Monster forms container */
.add-monster-container {
  display: flex;
  gap: 1em;
  align-items: stretch;
}

#monster-forms {
  flex: 1;
  display: flex;
  gap: 1em;
}

.monster-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  border: 2px solid var(--border-color);
  padding: 1em;

  fieldset {
    border: 1px solid var(--border-color);
  }

  legend {
    display: block;
  }
}

.monster-select-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Weaknesses display */
.monster-elements img,
.monster-ailments img {
  margin-right: 5px;
  vertical-align: middle;
}

.monster-elements,
.monster-ailments {
  margin-top: 10px;
}

/* Add monster button */
#add-monster-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-monster-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
