@media screen and (max-width: 1000px) {
  main {
    padding: 0;
  }
}

/* Quest Preview  */

#quest-preview {
  flex: 1;
  padding: 0.5em;
  position: relative;
}

#quest-preview:has(.tabs)::before {
  position: absolute;
  top: 35px;
  right: -5px;
  background: red;
  color: white;
  padding: 5px 30px;
  transform: rotate(45deg);
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  pointer-events: none;
  content: 'PREVIEW';
}

.tabs {
  flex: 1 1 0;
  overflow: auto;
}

.ui-state-active,
.ui-accordion-header,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid var(--border-color) !important;
  background: inherit !important;
  color: inherit !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: inherit !important;
  color: inherit !important;
}

.ui-accordion-header.ui-state-active {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.ui-accordion .ui-accordion-content {
  padding: inherit !important;
  border: 1px solid var(--border-color);
}

.ui-widget-content {
  background: inherit !important;
  color: inherit !important;
  border: none !important;
}

@media screen and (max-width: 600px) {
  .tabs {
    flex: auto;
  }
}
