a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hunting-quests {
  list-style-type: none;
}

.hunting-quest-post.collapsed {
  .themetable tr {
    display: none;
  }

  .themetable tr:nth-child(3) {
    display: table-row;
  }
  .themetable tr:nth-child(8) {
    display: table-row;
  }
  .themetable tr:nth-last-child(1) {
    display: table-row;
  }
}

li {
  transition: all 0.3s ease;
  cursor: crosshair;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 0 0 5px var(--primary-color);
}
