body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-list {
  position: absolute;
  display: flex;
  right: 0;
  z-index: 1;
  align-items: stretch;
  gap: 5px;

  button {
    border-radius: 0;
  }
}

.remove-button {
  position: relative;
}

.hunting-quest {
  position: relative;
}
