body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-button {
  appearance: button;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 1;
  right: 0;
}

.hunting-quest {
  position: relative;
}
