:root {
  --I_WHITE: #e9eaeb;
  --I_PINK: #e68a94;
  --I_RED: #e15057;
  --I_IVORY: #d9caad;
  --I_LEMON: #e6e600;
  --I_BPURPLE: #685ecd;
  --I_VERMILION: #e16d44;
  --I_SKY: #4ec3e5;
  --I_YELLOW: #d9c357;
  --I_ROSE: #bf3054;
  --I_MOS: #3d7f3a;
  --I_ORANGE: #df9c65;
  --I_DPURPLE: #56379e;
  --I_PURPLE: #9788d1;
  --I_GREEN: #47b267;
  --I_SGREEN: #83b239;
  --I_GRAY: #818182;
  --I_EMERALD: #98d9c9;
  --I_BLUE: #6687ff;
  --I_ULTRAMARINE: #4c4cd9;
  --I_BROWN: #b38f48;
  --RARE_01: #969696;
  --RARE_02: #dedede;
  --RARE_03: #a4c43b;
  --RARE_04: #47a33f;
  --RARE_05: #5caebb;
  --RARE_06: #575fd9;
  --RARE_07: #9272e3;
  --RARE_08: #c76d46;
  --RARE_09: #b3436a;
  --RARE_10: #2ec9e6;
  --RARE_11: #f2c21d;
  --RARE_12: #b4f5ff;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 20vmax;
  padding-right: 20vmax;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Monster form container */
#monster-forms {
  display: flex;
  gap: 1em;
  align-items: stretch;
}

#monster-forms .monster-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.monster-select-name {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Weaknesses display */
.monster-elements img,
.monster-ailments img {
  margin-right: 5px;
  vertical-align: middle;
}

.monster-elements,
.monster-ailments {
  margin-top: 10px;
}

/* Add monster button */
#add-monster-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-monster-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Quest Details  */
#quest-details {
  width: fit-content;
}

input[type='range'] + output {
  align-self: stretch;
  border: 1px solid var(--border-color);
  padding: 0.5em 1em;
  margin-top: -1em;
}

/* Cross-play toggle */

#platform-options {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--header-bg);
  color: var(--text-color);
}

.platform-options-list > li {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* Quest Post Form */

.item-img-container {
  position: relative;
  display: inline-block;
  z-index: 5; /* Higher than tab default */
  --item-color: var(--I_WHITE); /* Default value */
  --item-icon: ''; /* Will be set via inline style */
}

.bonus-item {
  border: 2px inset #806f49;
  background-color: #b69d7d;
}

.item-img-container img {
  z-index: 4; /* Lower than container but higher than tab background */
  display: block;
  mix-blend-mode: multiply;
  filter: contrast(0.8);
}

.item-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--item-color);
  mask-image: var(
    --item-icon
  ); /* See masking: https://www.w3schools.com/css/css3_masking.asp */
  mask-size: 100% 100%;
  /* Safari compliance */
  -webkit-mask-image: var(--item-icon);
  -webkit-mask-size: 100% 100%;
}

/* Quest Post Form */

#quest-post-form {
  flex: 0 1 40ch;
}

#quest-post-form button[type='submit'] {
  font-size: large;
  padding: 0.5em 3em;
}

/* Quest Preview  */

#quest-preview {
  flex: 1 1 800px;
  padding: 0.5em;
}

.monster-image.tempered-outline {
  -webkit-filter: drop-shadow(2px 2px 0 #6f49c0) drop-shadow(-2px 2px 0 purple)
    drop-shadow(2px -2px 0 #6f49c0) drop-shadow(-2px -2px 0 purple);

  filter: drop-shadow(2px 2px 0 #6f49c0) drop-shadow(-2px 2px 0 purple)
    drop-shadow(2px -2px 0 #6f49c0) drop-shadow(-2px -2px 0 purple);
}

.monster-image.frenzied-outline {
  -webkit-filter: drop-shadow(1em 1em 10px #bc49c0);
  filter: drop-shadow(3px 3px 5px #bc49c0);
}

.dmg-effectiveness-table th,
.dmg-effectiveness-table td {
  padding: 2px 3px;
  border: 1px solid var(--border-color);
}

.drop-tables {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.drop-tables th,
.drop-tables td {
  border: 1px solid var(--border-color);
  padding: 4px 6px;
  max-width: 10ch;
}
.drop-section-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
}

.drop-tables .excluded-drop {
  opacity: 0.33;
}

/* Player Composition */

#player-comp {
  flex: 1;
}

.player-slot {
  position: relative;
  flex: 1;
}

.open-slot {
  border-style: dotted;
  align-items: center;
  justify-content: center;
}

.add-slot {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
  padding: 1em;
}

.add-slot button {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid darkgray;
  font-size: 1em;
}

.player-slots-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0;
  list-style-type: none;
}

.remove-button {
  position: absolute;
  top: 0%;
  right: 0%;
  border: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: fit-content;
  font-size: 1em;
}

.pill-button {
  border-radius: 1em;
  padding: 0.5em 1.5em;
}
