:root {
  --primary-color: #f0b64b;
  --secondary-color: #3d2709;
  --bg-color: #2a2520;
  --text-color: #f7eacd;
  --border-color: #8b7a5a;
  --header-bg: #3d3126;
  --error-bg: #8b2a2a; /* Deep red for background */
  --error-text: #ffd2d2; /* Light pink for text */
  --error-border: #c94242; /* Slightly brighter red for borders */

  /* Game colors */
  --I_WHITE: #e9eaeb;
  --I_PINK: #e68a94;
  --I_RED: #e15057;
  --I_IVORY: #d9caad;
  --I_LEMON: #e6e600;
  --I_BPURPLE: #685ecd;
  --I_VERMILION: #e16d44;
  --I_SKY: #4ec3e5;
  --I_YELLOW: #d9c357;
  --I_ROSE: #bf3054;
  --I_MOS: #3d7f3a;
  --I_ORANGE: #df9c65;
  --I_DPURPLE: #56379e;
  --I_PURPLE: #9788d1;
  --I_GREEN: #47b267;
  --I_SGREEN: #83b239;
  --I_GRAY: #818182;
  --I_EMERALD: #98d9c9;
  --I_BLUE: #6687ff;
  --I_ULTRAMARINE: #4c4cd9;
  --I_BROWN: #b38f48;
  --RARE_01: #969696;
  --RARE_02: #dedede;
  --RARE_03: #a4c43b;
  --RARE_04: #47a33f;
  --RARE_05: #5caebb;
  --RARE_06: #575fd9;
  --RARE_07: #9272e3;
  --RARE_08: #c76d46;
  --RARE_09: #b3436a;
  --RARE_10: #2ec9e6;
  --RARE_11: #f2c21d;
  --RARE_12: #b4f5ff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body > h2 {
  font-family: 'Cinzel Decorative', serif;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

footer {
  margin-top: 3em;
  margin-bottom: 1em;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3px 8px;
  border-radius: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

input {
  background-color: var(--header-bg);
  color: var(--text-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wrap {
  flex-wrap: wrap;
}

/* Select styling */

select {
  border: 2px solid var(--border-color);
  background: var(--header-bg);
  color: var(--text-color);
}

[class*='select2-'],
textarea {
  background: var(--header-bg) !important;
  color: var(--text-color) !important;
}
[class*='ui-tabs'] {
  background-color: rgba(35, 30, 25, 0.9);
  color: var(--text-color) !important;
}

.select2-container--default,
.select2-selection--single,
.select2-selection__rendered {
  line-height: 1.5em !important;
}

select:hover,
select:focus {
  background: var(--header-bg);
}

.select2-results__option {
  background: var(--bg-color) !important;
}

.select2-results__option:nth-child(odd):not(
    .select2-results__option--highlighted
  ) {
  background: var(--secondary-color) !important;
}

.select2-results__option--highlighted {
  background-color: var(--primary-color) !important;
  color: var(--header-bg) !important;
}

option {
  background: var(--bg-color);
}

option:nth-of-type(odd) {
  background: var(--secondary-color);
}

option:checked {
  background: var(--border-color);
  font-weight: bold;
}

/* General form styling */

form,
form > fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form label {
  font-weight: bold;
  display: block;
}

fieldset {
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.themetable {
  background: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  text-align: center;
  justify-content: center;
}

.themetable th {
  font-weight: bold;
  background-color: var(--header-bg);
  border: 1px solid var(--border-color);
}

tr:nth-child(even) {
  background-color: #473624;
}

tr:nth-child(odd) {
  background-color: #3b3125;
}

form input,
form select,
form textarea {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1em;
}

form input:disabled,
form select:disabled {
  background-color: #e9ecef67;
  cursor: not-allowed;
}

label:has(input[type='checkbox']) {
  display: flex;
  gap: 0.5em;
}

input[type='checkbox'] {
  height: 1em;
  width: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: var(--primary-color);
}

input[type='checkbox']:disabled {
  background-color: var(--border-color);
}

input[type='checkbox']:checked::after {
  content: '✔';
  font-size: 1em;
  color: var(--secondary-color);
  position: absolute; /* Position absolutely within the checkbox */
  transform: translate(-50%, -50%); /* Center the checkmark precisely */
}

input[type='range'] {
  accent-color: var(--primary-color);
}

/* Jquery UI tabs styling */

.tabs {
  box-shadow: 0 0 5px 5px rgba(117, 114, 114, 0.2);
}

.ui-tabs {
  padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
  background-color: var(--header-bg);
  border: 1px solid var(--border-color);
}

.ui-tabs .ui-tabs-nav li {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background-color: orange !important;
}

.ui-widget {
  font-family: inherit !important;
  font-size: inherit !important;
}

.ui-widget.ui-widget-content {
  border: 1px solid var(--border-color) !important;
}

.ui-widget-content * .ui-widget-content {
  border: 2px solid var(--border-color) !important;
}

.ui-widget-content {
  background-color: transparent !important;
}

/* Tooltip styling */

.tooltip {
  background-color: var(--bg-color);
  padding: 1em;
}

.ui-tooltip {
  padding: 0 !important;
  margin: 0 !important;
  color: var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 0 7px black;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

.errors-list {
  color: var(--error-text);
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  padding: 1em;
}

.remove-button {
  position: absolute;
  border: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: fit-content;
  font-size: 1em;
}

/* Item Coloring Style */
.item-img-container {
  position: relative;
  display: inline-block;
  z-index: 5; /* Higher than tab default */
  --item-color: var(--I_WHITE); /* Default value */
  --item-icon: ''; /* Will be set via inline style */
}

.bonus-item {
  border: 2px inset #806f49;
  background-color: #b69d7d;
}

.item-img-container img {
  z-index: 4; /* Lower than container but higher than tab background */
  display: block;
  mix-blend-mode: multiply;
  filter: contrast(0.8);
}

.item-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--item-color);
  mask-image: var(
    --item-icon
  ); /* See masking: https://www.w3schools.com/css/css3_masking.asp */
  mask-size: 100% 100%;
  /* Safari compliance */
  -webkit-mask-image: var(--item-icon);
  -webkit-mask-size: 100% 100%;
}

@media screen and (min-width: 900px) {
  main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
