<!-- Simple footer - can be expanded later -->
<footer style="text-align: center; padding: 2em">
  <div class="disclaimer">
    <b>
      * DISCLAIMER * <br />
      This is an unofficial site and is not affiliated with or endorsed by the
      Capcom brand, Monster Hunter or Monster Hunter Wilds. Its simply a fan
      website.
    </b>
  </div>
</footer>
