<!-- Simple footer - can be expanded later -->
<footer style="text-align: center; padding: 2em">
  <div class="disclaimer" style="display: flex; flex-direction: column">
    <b>
      * DISCLAIMER *
      <p>
        This is an unofficial site and is not affiliated with or endorsed by the
        Capcom brand, Monster Hunter or Monster Hunter Wilds in any way. It's simply a fan
        website.
      </p>
    </b>
    <p>
      Site Logo and background image inspired by Monster Hunter's guild symbol.
      All credit to Kaname Fujioka.
    </p>
  </div>
</footer>
