<header class="main-header">
  <span class="logo">
    <h1>The Hunters Guild</h1>
  </span>
  <nav>
    <ul>
      <li>
        <a href="/">Posts</a>
      </li>
      <li>
        <a href="/create">Create</a>
      </li>
      <li>
        <a href="https://github.com/danielvelkov">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </nav>
  <span class="background-logo"></span>
</header>
<style>
  /* Header styling */
  .main-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--header-bg);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Cinzel Decorative', serif;

    .logo {
      padding: 1.5em;
      display: flex;
      gap: 1em;
      align-items: center;

      h1 {
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.15em;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    a {
      font-size: x-large;
      color: inherit;
    }
    nav > ul {
      display: flex;
      justify-content: space-around;
      width: min(50ch, 100vw);
      flex-wrap: wrap;
      gap: 1em;
    }

    .background-logo {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: url('../images/logo.webp') center center no-repeat;
      background-size: contain;
      opacity: 0.05;
      pointer-events: none;
      z-index: -1;

      /* Crest spotlight gradient */
      mask: radial-gradient(circle, transparent 0%, black 40%);
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
</style>
