<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hunting Quests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/hunting-quests.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/create">
      <button>Create Hunting Quest...</button>
    </a>
  </body>
</html>
